USE [MangaOnline.V1.Dev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryManga]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryManga](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[LikedCount] [int] NOT NULL,
	[DislikedCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Comments_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapteres]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapteres](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[Status] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FilePDF] [nvarchar](max) NULL,
 CONSTRAINT [PK_Chapteres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowList]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowList](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FollowList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [uniqueidentifier] NOT NULL,
	[user] [nvarchar](256) NULL,
	[hash] [nvarchar](256) NULL,
	[from] [nvarchar](256) NULL,
	[to] [nvarchar](256) NULL,
	[value] [nvarchar](256) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IpUserVote]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpUserVote](
	[MangaId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Rate] [int] NULL,
 CONSTRAINT [pk_my_table] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mangas]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mangas](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[RateCount] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[FollowCount] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mangas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ChapterId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [uniqueidentifier] NOT NULL,
	[ChapterId] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[PageNumber] [int] NOT NULL,
 CONSTRAINT [PK_Pages_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 7/22/2023 10:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [SubId], [Name]) VALUES (N'b639c10f-b129-4ad4-be07-4eea2842485f', 30, N'Kishimoto Masashi')
INSERT [dbo].[Authors] ([Id], [SubId], [Name]) VALUES (N'76957289-8fcb-4fb6-a42e-5625d3ffc939', 29, N'Eiichiro Oda')
INSERT [dbo].[Authors] ([Id], [SubId], [Name]) VALUES (N'8eae4958-1157-446e-aad3-7737fe6ab669', 27, N'Kimetsu No Yaiba')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [SubId], [Name]) VALUES (N'd8c7163c-1e11-48c0-98d4-16b22c812607', 3, N'Ngôn tình')
INSERT [dbo].[Categories] ([Id], [SubId], [Name]) VALUES (N'6accc550-d475-4357-bcb9-17302ed409c4', 4, N'Drama')
INSERT [dbo].[Categories] ([Id], [SubId], [Name]) VALUES (N'fd761c84-897c-4529-aec7-7a8731ef1b90', 5, N'Trinh thám')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryManga] ON 

INSERT [dbo].[CategoryManga] ([CategoryId], [MangaId], [SubId]) VALUES (N'd8c7163c-1e11-48c0-98d4-16b22c812607', N'c109722c-24a3-4675-81f1-567f4f81bfda', 79)
INSERT [dbo].[CategoryManga] ([CategoryId], [MangaId], [SubId]) VALUES (N'6accc550-d475-4357-bcb9-17302ed409c4', N'c109722c-24a3-4675-81f1-567f4f81bfda', 80)
INSERT [dbo].[CategoryManga] ([CategoryId], [MangaId], [SubId]) VALUES (N'fd761c84-897c-4529-aec7-7a8731ef1b90', N'7ee8b0a7-6c61-4988-8270-616c6479b76a', 81)
SET IDENTITY_INSERT [dbo].[CategoryManga] OFF
GO
INSERT [dbo].[Comments] ([Id], [MangaId], [UserId], [Content], [CreatedAt], [LikedCount], [DislikedCount], [IsActive]) VALUES (N'b73e937d-7b08-4626-a9a8-64cbca6e2b0c', N'467da999-9011-4f90-b9fb-488110c37879', N'2164d540-49ca-45ac-b88e-f7001b82ff66', N'fff', CAST(N'2023-07-22T22:17:43.3718305+07:00' AS DateTimeOffset), 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Chapteres] ON 

INSERT [dbo].[Chapteres] ([Id], [SubId], [MangaId], [ChapterNumber], [Name], [CreatedAt], [Status], [IsActive], [FilePDF]) VALUES (N'e73a7220-705c-4c60-bd67-127475ae394d', 32, N'467da999-9011-4f90-b9fb-488110c37879', 2, N' Chapter 2', CAST(N'2023-07-22T22:16:57.2812426+07:00' AS DateTimeOffset), 2, 1, N'30d3c761-c9df-443c-b527-74fbe17df44d.pdf')
INSERT [dbo].[Chapteres] ([Id], [SubId], [MangaId], [ChapterNumber], [Name], [CreatedAt], [Status], [IsActive], [FilePDF]) VALUES (N'bb8a4ccf-aaa9-4fda-9c7c-c1f23e9e1770', 31, N'467da999-9011-4f90-b9fb-488110c37879', 1, N' Chapter 1', CAST(N'2023-07-22T22:14:05.6963198+07:00' AS DateTimeOffset), 1, 1, N'dafa7191-5ec8-4add-9967-793527f23fed.pdf')
SET IDENTITY_INSERT [dbo].[Chapteres] OFF
GO
SET IDENTITY_INSERT [dbo].[Mangas] ON 

SET IDENTITY_INSERT [dbo].[Mangas] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [SubId], [FullName], [Email], [EmailConfirmed], [Password], [PhoneNumber], [PhoneNumberConfirmed], [AccessFailedCount], [CreatedAt], [ModifiedAt], [IsActive], [Status], [Avatar], [RoleId]) VALUES (N'2ef75afd-96e6-4b60-8c11-2f79849cf703', 14, N'Van Trai Chu', N'lsb45230@zslsz.com', 1, N'$2a$10$uXPEMwv6wA0Ev61TeaD25.CaPsvcNSRroS1RWAl6RqwA.UYwb6Im6', N'0362351671', 1, 0, CAST(N'2023-07-21T16:12:50.7350663+07:00' AS DateTimeOffset), CAST(N'2023-07-21T16:13:12.9354063+07:00' AS DateTimeOffset), 1, 0, N'8f49658d-8f6e-47b5-9982-51ed49bc21ea.png', 2)
INSERT [dbo].[Users] ([Id], [SubId], [FullName], [Email], [EmailConfirmed], [Password], [PhoneNumber], [PhoneNumberConfirmed], [AccessFailedCount], [CreatedAt], [ModifiedAt], [IsActive], [Status], [Avatar], [RoleId]) VALUES (N'fd9f24c7-4000-4383-b223-6dc525337192', 13, N'123 1234 456', N'gqf85455@nezid.com', 1, N'$2a$10$.9qj6qzj6V/OdU4F8ez7IOZBm8GqEuyQEsVupQ24bvNnTAvD3bU8S', N'0213456789', 1, 0, CAST(N'2023-07-19T17:05:55.4223665+07:00' AS DateTimeOffset), CAST(N'2023-07-19T17:06:24.9506041+07:00' AS DateTimeOffset), 1, 0, NULL, 3)
INSERT [dbo].[Users] ([Id], [SubId], [FullName], [Email], [EmailConfirmed], [Password], [PhoneNumber], [PhoneNumberConfirmed], [AccessFailedCount], [CreatedAt], [ModifiedAt], [IsActive], [Status], [Avatar], [RoleId]) VALUES (N'ef20386b-2335-4f65-87b2-819e1aef6612', 2, N'traicv', N'enm55606@nezid.com', 1, N'$2a$10$wFJohcnCB4WbPREwYvSHiumPdowhVcu4EB4.ZJAUOhf6Vu2YQif0m', N'1234567890', 1, 0, CAST(N'2023-06-14T15:22:56.1352367+07:00' AS DateTimeOffset), CAST(N'2023-06-14T16:07:04.0387130+07:00' AS DateTimeOffset), 1, 0, NULL, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[CategoryManga]  WITH CHECK ADD  CONSTRAINT [FK_CategoryManga_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[CategoryManga] CHECK CONSTRAINT [FK_CategoryManga_Categories]
GO
ALTER TABLE [dbo].[CategoryManga]  WITH CHECK ADD  CONSTRAINT [FK_CategoryManga_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[CategoryManga] CHECK CONSTRAINT [FK_CategoryManga_Mangas]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Mangas]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Chapteres]  WITH CHECK ADD  CONSTRAINT [FK_Chapteres_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[Chapteres] CHECK CONSTRAINT [FK_Chapteres_Mangas]
GO
ALTER TABLE [dbo].[FollowList]  WITH CHECK ADD  CONSTRAINT [FK_FollowList_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[FollowList] CHECK CONSTRAINT [FK_FollowList_Mangas]
GO
ALTER TABLE [dbo].[FollowList]  WITH CHECK ADD  CONSTRAINT [FK_FollowList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FollowList] CHECK CONSTRAINT [FK_FollowList_Users]
GO
ALTER TABLE [dbo].[Mangas]  WITH CHECK ADD  CONSTRAINT [FK_Mangas_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Mangas] CHECK CONSTRAINT [FK_Mangas_Authors]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Chapteres] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapteres] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Chapteres]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Chapteres] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapteres] ([Id])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Chapteres]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
