@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Update Account";
    Layout = "_LayoutAuth";
}
<link rel="stylesheet" href="~/css/AuthRegistration.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/6.0.6/ethers.umd.min.js" integrity="sha512-msnGRH7zMONtMZBH0kCPB4vKzJ3mU6RImgt9lnZ2G2bXotCjfaTaICllKzT0pwlusVsyCx/xqN2/xkanDyW4JQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
<div>
    <input style="display:none" id="gmail" value="n/a"/>
    <div>
        @* <input style="display:none" id="gmail" value="@gmail"/> *@
        <div class="container">
            <div id="navbar" style="color: #c9c9c9; min-height:25px">
                <span id="text"></span>
            </div>
            <div class="row">
                <div class="col-12" style="padding: 0px">
                    <div class="sign__content" style="padding: 0px; margin: 0px; min-height: 90vh">
                        <form method="post" asp-action="PostUpdateAccount" class="sign__form" styled="width:560px;padding: 0px">

                            <div id="page1">
                                <div style="color: white; margin-bottom: 10px; font-size: 20px; text-align:center">Đăng ký tài khoản Vip</div>
                                <div style="color: #c9c9c9; margin-bottom: 5px;">Gói 1 tháng chỉ với 100.000 VND (sale 50%)</div>
                                <div style="color: #c9c9c9; margin-bottom: 5px;">Gói 1 tuần chỉ với 50.000 VND</div>
                                <div class="sign__group" id="box-bg" style="max-width: 300px">
                                    <img style="width: 300px ; height: auto" src="~/image/payment/payment-bg.png" />
                                </div>
                                <div style="display: flex">
                                    <div class="filter__item" id="filter__quality">
                                        <div class="filter__item-btn dropdown-toggle btn-dropdown-checkbox" style="padding-left: 20px;margin-top: 25px;"
                                             role="navigation" id="filter-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <input type="button" value="1 tuần">
                                            <input type="text" name="selectedPackage" id="selectedPackage" value="1 tuần" hidden />
                                            <span></span>
                                        </div>
                                        <ul class="filter__item-menu dropdown-menu scrollbar-dropdown"
                                            aria-labelledby="filter-quality">
                                            <li onclick="updateSelectedPackage(this)">1 tuần</li>
                                            <li onclick="updateSelectedPackage(this)">1 tháng</li>
                                        </ul>
                                    </div>
                                    <input type="hidden" id="userId" name="userId" />
                                    <button type="submit" style="width:50%" class="sign__btn" id="btn-connect">
                                        Thanh toán
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            var userId = GetUserData().userId;
            $.cookie("user_id", userId, { expires: 7, path: '/' });
            // Đặt giá trị userId vào input ẩn
            $("#userId").val(userId);

        var cookieUserId = $.cookie("user_id");
        console.log("Cookie userId:", cookieUserId);
        });

        function GetUserData() {
            const user = localStorage.getItem("USER_DATA");
            return $.parseJSON(user);
            // {"userId":"ef20386b-2335-4f65-87b2-819e1aef6612","userName":"traicv","email":"enm55606@nezid.com","role":"UserNormal","avartar":null}
        }

    function updateSelectedPackage(selectedItem) {
        // Lấy giá trị từ mục được chọn và cập nhật ô input và nút button
        var selectedValue = selectedItem.innerText;
        document.getElementById("selectedPackage").value = selectedValue;
        document.getElementById("selectedPackageBtn").value = selectedValue;
    }
</script>

